@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300&family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.7rem;
  text-align: center;
  color: #f4f4f4;
  background-color: #8a71c9;
}

.menu {
  border-top: 1px solid #a18bda;
  border-bottom: 1px solid #a18bda;
}

.menu__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.menu__list__item {
  padding: 0 1rem;
  text-transform: uppercase;
}

.menu__list__item-link {
  color: #fefefe;
  font-weight: 400;
  font-size: .9rem;
  text-decoration: none;
}

.menu__list__item-link:hover {
  color: #ffe36d;
  text-decoration: underline;
}

h1 {
  margin: 5rem 0 5rem 0;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.7rem;
}

h2 {
  font-size: 2.2rem;
  text-decoration: underline 1px dotted;
}

h3 {
  font-size: 1.5rem;
  text-decoration: underline 1px dotted;
}

.title {
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 700;
}

.purple__title {
  color: #2a0074;
}

.green__title {
  color: #04ff9f;
}

.red__title {
  color: #ff9e9e;
}

.yellow__title {
  color: #ffe36d;
}

article {
  margin: 0 auto;
  max-width: 55%;
}

img {
  width: 95%;
  border: #ff9e9e 7px solid;
}

img:hover {
  opacity: 90%;
}

.circle-img {
  width: 40%;
  border-radius: 100%;
  border: #ffe36d 7px solid;
}

.menu__women {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.menu__women__list {
  line-height: 2;
  list-style-type: none;
}

.menu__women__list__names {
  font-weight: 400;
  font-family: 'Spline Sans Mono', monospace;
  text-decoration: none;
  color: #99ffff;
}

.menu__women__list__names:hover {
  font-weight: 600;
  text-decoration: underline;
}

hr {
  opacity: 20%;
}

.contact {
  padding: 3rem 0;
}

.contact__form {
  padding-bottom: 3rem;
}

.contact__form-label {
  padding: .5rem;
  font-size: .9rem;
}

.contact__form-input {
  width: 17%;
  padding: .5rem;
  border: none;
  opacity: 80%;
}

.contact__form-input:hover {
opacity: 100%;
}

.contact__form-button {
  padding: .5rem 1rem;
  border: none;
  color: #2a0074;
  background-color: #ffe36d;
}

.contact__form-button:hover {
  color: #2a0074;
  background-color: #ff9e9e;
}

footer {
  padding: 1rem;
  margin: 0;
  color: #666;
  background-color: #fefefe;
}

footer a {
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 400;
  text-decoration: none;
  color: #8a71c9;
}

footer a:hover {
  font-weight: 600;
  color: #ff9e9e;
}

/* ANIMAÇÕES */ 

[data-anime] {
  transition: 0.6s;
  opacity: 0;
}

[data-anime=top] {
  transform: translate3d(0, -50px, 0);
}

[data-anime=left] {
  transform: translate3d(-30px, 0, 0);
}

[data-anime=right] {
  transform: translate3d(30px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}